.dropdown {
  position: relative;

  &.show {
    .dropdown-menu {
      display: block;
    }
  }
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #f5f5f5;
  border-radius: .25rem;
  box-shadow: $dropdown-shadow;

  &.dropdown-menu-right {
    right: 0;
  }
}

.dropdown-item {
  display: block;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  font-size: $font-size-base * .875;
  text-decoration: none;
  color: $body-color;
  transition: color .2s ease-in-out;

  &:hover,
  &:focus {
    color: $primary;
  }
}